.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
}

.footer span {
  font-weight: 300;
  font-size: 1rem;
}

.footer strong {
  font-weight: 500;
}

